@media screen and (max-width: 1700px) {
  .reviews-slider{
    .slide{
      padding: 0 10px;
      box-sizing: border-box;
    }
  }
}
@media screen and (max-width: 1400px) {
  .hero{
    .container{
      transform: translate(0, 0);
      top: 100px;
    }
    &-form{
      transform: translate(0, 100px);
    }
  }
  .reviews-item{
    padding: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .why{
    &-media{
      img{
        max-width: 520px;
      }
    }
    &-desc{}
    &-info{
      max-width: 520px;
    }
  }
}
@media screen and (max-width: 1110px) {
  .why{
    .title-section{
      font-size: 20px;
      line-height: 24px;
    }
    &-text, &-info{
      font-size: 14px;
      line-height: 16px;
      p{
        font-size: 14px;
        line-height: 16px;
      }
    }
    &-info{
      padding-left: 20px;
    }
    &-media{
      width: 55%;
      img{
        width: 100%;
      }
    }
    &-desc{
      img{
        width: 100%;
      }
    }
  }
  .title-section{
    font-size: 20px;
    line-height: 24px;
  }
  .hero{
    &-title{
      font-size: 24px;
      line-height: 29px;
    }
    &-text{
      font-size: 14px;
      line-height: 17px;
    }
    &-list{
      ul{
        flex-direction: column;
      }
      span{
        display: inline-block;
      }
    }
    &-form {
      padding: 17px 20px;
      .select-item, .input-item{
        width: 50%;
      }
      form{
        label{
          font-size: 13px;
          line-height: 18px;
        }
        input{
          padding: 13px 18px 14px;
        }
        input, .select2{
          width: 100% !important;
        }
        .select2-container .select2-selection--single .select2-selection__rendered{
          font-size: 13px;
          line-height: 16px;
        }
      }
      .hero-form__item:nth-of-type(1) .select2:before, .hero-form__item:nth-of-type(2) .select2:before{
        width: 21px;
        height: 21px;
        left: 7px;
        top: 10px;
        background-size: contain;
      }
      &__item {
        &:nth-of-type(1){
          padding-right: 10px;
        }
        &:nth-of-type(2){
          padding-left: 10px;
        }
        .info{
          font-size: 13px;
          line-height: 16px;
        }
      }
      &__info{
        font-size: 13px;
        line-height: 16px;
      }
    }
  }
  .hero-form .select-item .label-name, .hero-form .input-item .label-name{
    top: 47px;
  }
  .hero-form form .select2-container .select2-selection--single .select2-selection__rendered{
    padding: 13px 28px 14px 35px;
  }
  .hero-form form .select2-container--default .select2-selection--single{
    height: 45px;
  }
  .hero-form .select2-container--default .select2-selection--single .select2-selection__arrow{
    width: 25px;
    height: 45px;
  }
  .information-wrap{
    margin-bottom: 45px;
  }
  .information-item{
    &__numb{
      font-size: 24px;
      line-height: 29px;
    }
    &__title{
      font-size: 14px;
      line-height: 16px;
    }
  }
  .currency-item{
    font-size: 14px;
    line-height: 16px;
    padding: 10px 6px;
    &:first-of-type{
      font-size: 14px;
      line-height: 16px;
      padding: 20px 0 0;
    }
    &:nth-of-type(2n){
      margin: 0;
    }
    &:last-of-type{
      margin-bottom: 15px;
    }
  }
  .advantage-item {
    overflow: hidden;
    &__title{
      font-size: 14px;
      line-height: 15px;
      margin-bottom: 10px;
    }
    &__text{
      font-size: 14px;
      line-height: 15px;
    }
  }
  .excellence-desc{
    &__text{
      font-size: 14px;
      line-height: 15px;
    }
  }
  .excellence-item{
    padding: 0 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    &__title{
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 10px;
      img{
        width: 25px;
        height: 25px;
      }
    }
    &__text{
      font-size: 14px;
      line-height: 16px;
    }
  }
  .work{
    &-text,
    &-info{
      font-size: 14px;
      line-height: 16px;
      padding-right: 15px;
    }
  }
  .blog{
    &-item{
      &__title,
      a{
        font-size: 16px;
        line-height: 18px;
      }
      &__desc{
        width: calc(100% - 40px);
        min-height: 250px;
      }
      &__text{
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
  .reviews-item{
    &__text{
      font-size: 14px;
      line-height: 16px;
    }
    &__date{
      font-size: 16px;
      line-height: 18px;
    }
  }
  .footer{
    &-title{
      font-size: 14px;
      line-height: 16px;
    }
    &-item{
      a{
        font-size: 14px;
        line-height: 16px;
      }
    }
    &-bottom__link {
      a{
        font-size: 14px;
        line-height: 16px;
      }
    }
    &-bottom__copy {
      a, span{
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
  .question{
    .title-section{
      margin-bottom: 20px;
    }
    &-wrap{
      flex-wrap: wrap;
    }
    &-desc{
      width: 100%;
      max-width: 100%;
    }

    &-info{
      width: 100%;
      max-width: 100%;
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 16px;
      a{
        font-size: 14px;
        line-height: 16px;
      }
    }
    &-item{
      &__title{
        font-size: 16px;
        line-height: 18px;
      }
      &__text{
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .footer{
    &-item{
      width: 33.33333%;
    }
  }
  .information{
    padding: 75px 0 43px;
  }
  .blog{
    &-item{
      &__media{
        height: 150px;
      }
      &__desc{
        transform: translate(0, -25px);
        min-height: 310px;
      }
    }
  }
  .work{
    .container{
      flex-direction: column;
    }
    &-desc{
      width: 100%;
      max-width: 100%;
      margin-bottom: 15px;
    }
    &-text,
    &-info{
      padding-right: 0;
    }
    &-media{
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  .header-btn{
    display: block;
  }
  .header{
    &:before{
      position: absolute;
      top: 100%;
      content: '';
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      background: rgba(0,0,0,.4);
      transition: all ease 300ms;
    }
    &:after{
      position: absolute;
      top: 0;
      content: '';
      right: 0;
      width: 250px;
      height: 100vh;
      background: rgba(255, 255, 255, 1);
      opacity: 0;
      visibility: hidden;
      z-index: -1;
    }
    &-nav{
      transition: all ease 300ms;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      position: absolute;
      top: 100%;
      right: 0;
      margin: 0 15px 0 auto;
      ul{
        flex-direction: column;
        width: 200px;
      }
      li{
        margin: 0 0 10px;
      }
    }
    &-phone{
      transition: all ease 300ms;
      position: absolute;
      top: 220px;
      right: 15px;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      a{
        font-size: 16px;
        line-height: 18px;
      }
    }
    &.active{
      .header-nav{
        opacity: 1;
        visibility: visible;
      }
      .header-phone{
        opacity: 1;
        visibility: visible;
      }
      &:before{
        opacity: 1;
        visibility: visible;
      }
      &:after{
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .information{
    &-wrap{
      flex-wrap: wrap;
      padding: 15px;
    }
    &-item{
      width: 50%;
      margin-bottom: 15px;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero-form__item{
    width: 100%;
    max-width: unset;
  }
  .information {
    padding: 100px 0 43px;
  }
  .footer{
    &-wrap{
      margin: 0 -10px 45px;
    }
    &-item{
      margin: 0 10px 20px;
      width: calc(50% - 20px);
    }
    &-bottom__link{
      flex-wrap: wrap;
      margin: 0 -10px 15px;
      a{
        width: auto;
        margin: 0 10px 10px;
      }
    }
    &-bottom__copy{
      width: 100%;
    }
  }
  .why{
    &-media{
      position: relative;
      top: 0;
      right: 0;
      left: 0;
      margin: -70px auto 30px;
    }
    &-wrap{
      flex-wrap: wrap;
    }
    &-desc{
      width: 100%;
      max-width: 100%;
      margin-bottom: 15px;
    }
    &-info{
      padding-top: 0;
      width: 100%;
      max-width: 100%;
    }
  }
  .reviews{
    padding: 0 0 110px;
  }
  .blog{
    &-item{
      width: 100%;
      &__media{
        height: 150px;
        img{
          object-fit: cover;
        }
      }
      &__desc{
        transform: translate(0, -25px);
        min-height: unset;
      }
      &:nth-of-type(1){
        .blog-item__desc{
          border-radius: 30px 30px 0 0;
        }
      }
      &:nth-of-type(2){
        .blog-item__desc{
          width: calc(100% - 40px);
        }
      }
      &:nth-of-type(3){
        .blog-item__desc{
          border-radius: 0 0 30px 30px;
        }
      }
    }
  }
  section{
    padding: 20px 0;
  }
  .blog{
    padding: 20px 0 0;
  }
  .advantage{
    &-wrap{
      flex-direction: column;
    }
    &-item{
      max-width: 100%;
      width: calc(100% - 20px);
      margin-bottom: 10px;
      min-height: 120px;
      &__title{
        max-width: 250px;
      }
      &__text{
        max-width: 250px;
      }
      &__media{
        max-width: 130px;
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      &:nth-of-type(1) {
        .advantage-item__media{
          left: auto;
          transform: scale(-1, 1);
          right: -3px;
        }
      }
      &:nth-of-type(2) {
        .advantage-item__title{
          margin: 0 0 10px auto;
        }
        .advantage-item__text{
          margin: 0 0 10px auto;
        }
        .advantage-item__media{

          left: -3px;
          right: auto;
          transform: scale(-1, 1);
        }
      }
      &:nth-of-type(3) {
        .advantage-item__media{}
      }
    }
  }
  .currency-item{
    span{
      display: none;
    }
  }
  .currency-link{
    text-align: center;
  }
  .btn-primary{
    padding: 10px 42px;
    span{
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }
  }
  .btn-secondary{
    padding: 10px 42px;
    span{
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }
  }
  .excellence {
    .container{
      flex-direction: column;
    }
    &-desc{
      width: 100%;
      max-width: 100%;
      margin-bottom: 15px;
      &__text{
        max-width: 100%;
      }
      &__link{
        text-align: center;
      }
    }
    &-item{
      max-width: 100%;
    }
    &-wrap{
      width: 100%;
    }
  }
  .reviews {
    .slick-dots {
      li{
        width: 30px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .excellence-item{
    width: 100%;
    padding: 0;
  }
  .advantage-item{
    padding: 17px 20px;
  }
  .currency{
    &-table{
      width: 100%;
      overflow: auto;
    }
    &-item{
      width: 760px;
    }
  }
  .why-media{
    width: 100%;
  }
  .hero-form__item:nth-of-type(1){
    padding-right: 0;
  }
  .hero-form__item:nth-of-type(2){
    padding-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .hero-media{
    min-height: 850px;
  }
  .hero-form {
    transform: translate(0, 20px);
  }
  .information {
    padding: 100px 0 43px;
  }
  .reviews-item__text {
    min-height: unset;
    }
    .advantage-item{
    &__title,
    &__text{
      max-width: 160px;
    }
  }
  .footer-bottom__copy{
    flex-direction: column-reverse;
    span{
      width: 100%;
      margin-top: 10px;
      text-align: center;
    }
  }
}
@media screen and (max-width: 400px) {
  .information {
    padding: 75px 0 43px;
  }
}
@media screen and (max-width: 380px) {
  .information {
    padding: 75px 0 43px;
  }
}